body {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1920px;
  min-height: 100vh;
}
.coter {
  display: flex;
  flex-direction: row;
  flex: 1;
}
header {
  display: flex;
  justify-content: center;
  background-color: #2c3b1a;
}
ul {
  display: flex;
  flex-direction: column;
  margin: 0%;
  padding: 10px;
}
main {
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 2px;
  background-color: #dda663;
}
nav {
  display: flex;
  background-color: #65723d;
}
aside {
  width: 200px;
  display: flex;
  justify-content: flex-end;
  background-color: #d58818;
}

footer {
  display: flex;
  padding: 2px;
  background-color: #2c3b1a;
}
